name: Supernova build tool

on: [push, pull_request]

jobs:
  build:
    name: Build for ${{ matrix.config.name }} using ${{ matrix.config.backend_name }}
    runs-on: ${{ matrix.config.os }}
    strategy:
      fail-fast: false
      matrix:
        config: 
        - {
            name: "Windows",
            backend_name: "DirectX",
            os: windows-latest,
            platform: "windows",
            backend: "d3d11"
          }
        - {
            name: "Windows",
            backend_name: "OpenGL",
            os: windows-latest,
            platform: "windows",
            backend: "glcore33"
          }
        - {
            name: "Ubuntu",
            backend_name: "OpenGL",
            os: ubuntu-latest,
            platform: "linux",
            backend: "glcore33"
          }
        - {
            name: "macOS",
            backend_name: "Metal",
            os: macos-latest,
            platform: "macos",
            backend: "metal"
          }
        - {
            name: "macOS",
            backend_name: "OpenGL",
            os: macos-latest,
            platform: "macos",
            backend: "glcore33"
          }
        - {
            name: "Web (Emscripten)",
            backend_name: "WebGL",
            os: ubuntu-latest,
            platform: "web",
            backend: "gles2"
          }
          - {
            name: "Web (Emscripten)",
            backend_name: "WebGL 2",
            os: ubuntu-latest,
            platform: "web",
            backend: "gles3"
          }

    steps:
      - uses: actions/checkout@v2

      - name: Install Emscripten
        if: startsWith(matrix.config.platform, 'web')
        uses: mymindstorm/setup-emsdk@v9
        with:
          version: latest-upstream
          actions-cache-folder: 'emsdk-cache'
        
      - name: Export Emscripten environment variable
        if: startsWith(matrix.config.platform, 'web')
        run: |
          echo "EMSCRIPTEN=$(dirname $(which emcc))" >> $GITHUB_ENV

      - name: Install dependencies on Windows
        if: startsWith(matrix.config.os, 'windows')
        run: |
          choco install cmake

      - name: Install dependencies on Ubuntu
        if: startsWith(matrix.config.os, 'ubuntu')
        run: |
          sudo apt-get update
          sudo apt-get install libxi-dev libxcursor-dev libgl1-mesa-dev ninja-build cmake

      - name: Install dependencies on macOS
        if: startsWith(matrix.config.os, 'macos')
        run: |
          brew install cmake ninja

      - name: Install dependencies
        run: pip3 install --upgrade click

      - name: Build
        run: |
          cd tools/
          python3 supernova.py --build --platform ${{ matrix.config.platform }} --graphic-backend ${{ matrix.config.backend }}
