name: Emscripten

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2

      - name: Setup emsdk
        uses: mymindstorm/setup-emsdk@v5
        with:
          version: latest-upstream
          actions-cache-folder: 'emsdk-cache'

      - name: Build with Emscripten
        run: |
          export EMSCRIPTEN=$(dirname $(which emcc))
          cd workspaces/build-scripts/
          python3 emscripten.py
